body {
	margin: 0px;
}

.header,
.header_2 {
	position: relative;
	height: 1000px;
}

.head_img {

	width: 100%;
	right: 0%;
	visibility: 0.2;
}

.main-menu ul {
	list-style: none;
	margin: auto;
	position: absolute;
	padding: 0;
	margin: 0;
	top: 10%;
	right: 0;

	left: 40%;
	height: 400px;
	bottom: 50%;
	font-size: 30px;
}

.main-menu ul li {
	display: inline;
	margin-left: 30px;
}

a {
	border-radius: 25px;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	padding: 10px;
	font-size: 25px;
	background-color: orange;
}

a:hover {
	background-color: white;
	color: black;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
}

.logo {
	position: absolute;
	right: 0;
	top: 4%;
	left: 5%;
	bottom: 0;
	width: 150px;
	height: 150px;
}

.header h1,
.header_2 h1 {
	position: absolute;
	right: 0;
	top: 5%;
	left: 20%;
	bottom: 0;
	font-size: 50px;
	color: black;
}

.head {
	position: absolute;
	right: 0;
	top: 25%;
	left: 28%;
	bottom: 0;
	font-size: 100px;
	width: 800px;
	text-align: center;
}

.block-x {
	position: absolute;
	right: 0;
	top: 50%;
	left: 0%;
	bottom: 0;
	font-size: 40px;
	width: 800px;
	text-align: center;
}

.content {
	position: relative;
	background-color: #28292B;
	height: 500px;
	color: white;

}

.content p {
	position: absolute;
	width: 900px;
	left: 24%;
	top: 40%;
	text-align: center;
	font-size: 26px;
	visibility: unset;
}

.content h1 {
	position: absolute;
	width: 900px;
	left: 24%;
	top: 9%;
	right: 0;
	bottom: 0;
	text-align: center;
	font-size: 40px;
	color: white;
	border: 1px solid white;
	border-left: none;
	border-right: none;
	padding: 40px 0;
	margin: 60px 0;
}

.sale {
	position: relative;
	background-color: #cccccc;
	background-image: linear-gradient(#804030, #808080);
	height: 1000px;
}

.sale h1 {
	position: absolute;
	width: 900px;
	left: 24%;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-size: 40px;
	color: white;
	padding: 40px 0;
}

.sale p {
	position: relative;
	width: 900px;
	left: 24%;
	top: 25%;
	text-align: center;
	font-size: 26px;
	visibility: unset;
}

.sale ul {
	position: relative;
	margin: 0 110px;
	left: 24%;
	top: 25%;
	text-align: center;
	display: inline-flex;
	font-size: 26px;
	list-style: none;
	padding: 0;
}

.sale ul li {
	display: inline;
	margin: 70px;
}

.price {
	display: block;
	position: absolute;
	width: 440px;
	top: 49%;
	left: 26%;
	right: 0;
	bottom: 0;
}

li .active:hover~.price {
	display: block;
}

.price h2 {
	font-size: 24px;
	text-align: justify;
	display: inline-flex;
	width: 500px;
}

.price p {
	font-size: 17px;
	width: 300px;
	margin-left: -115px;
	top: 0;
	text-align: left;
}

span {
	margin-left: 20px;
}

.block-2 {
	position: relative;
	top: -59%;
	left: 120%;
}

.menu {
	display: inline-flex;
	width: 100%;
}



.header_2 .head {
	position: absolute;
	right: 0;
	top: 15%;
	left: 28%;
	bottom: 0;
	color: wheat;
}

.text,
.text_2 {
	position: relative;
	right: 0;
	top: 15%;
	left: 28%;
	bottom: 0;
	color: wheat;
	width: 800px;
	text-align: center;
}

.text p,
.text_2 p {
	font-size: 32px;
	color: #808080;
	margin: 70px 0;
}

.first {
	font-weight: bold;
}

.block_1,
.block_2 {
	height: 493px;
	padding-right: 20px;
	background-color: #D8A85E;
}

.block_1 h1,
.block_2 h1 {
	font-family: 'Fasthand', cursive;
	font-size: 60px;
}

.block_1 img {
	float: left;
	margin-right: 20px;
}

.text_block,
.text_block_2 {
	font-size: 26px;
}

.text_2 {
	width: 1849px;
	left: 0;
	padding-bottom: 50px;
}

.text_2 h1 {
	font-family: 'Fasthand', cursive;
	font-size: 80px;
	color: #808080;
	padding-left: 110px;
}

.text_2 p {
	margin: 10px 65px;
	width: 650px;
	padding-left: 550px;
}

.block_2 {
	height: 500px;
	margin-bottom: 50px;
}

.text_block_2 {
	float: left;
	width: 735px;
	padding-left: 250px;
}

.block_2 img {
	position: relative;
	left: 164px;
	right: 0;
	top: 0;
	bottom: 0;
	width: 700px;
	height: 500px;
}
